.header {
    background-color: rgb(4, 159, 154);
    display: flex;
    justify-content: space-between;
}

img {
    border: 1px solid rgba(128, 128, 128, 0.236);
    border-radius: 50px;
    background-color: aliceblue;
    margin: 5px;
}
div{
    display: flex;
    
}

button {
    border: none;
    background-color: rgb(4, 159, 154);
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-right: 20px;

}
p{
    color: white;
}
